.headerResults {
  padding: 20px 0;
  font-size: 50px;
  font-weight: bold;
}

.resultsMessage {
  border-bottom: 4px solid #262626;
  border-top: 4px solid #262626;
  padding: 50px 0;
}

.descriptionIcons {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 4px solid #262626;
  padding-bottom: 5px; 
}

.forSale {
  color: green;
  cursor: pointer;
}
.notForSale {
  color: red;
  cursor: pointer;
}
.forRent {
  color: #ac7339;
  cursor: pointer;
}
